body {

    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 50px;
}

header a {
    color: black;
}

form {
    background-color: rgb(255, 0, 0);
}