@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

li {
    display: inline;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 700px;
}

label {
    color: white;
}


footer {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    height: 220px;
    align-items: center;
}