@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EECDA3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}

li {
    display: inline;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 720px;
	width: 1980px;	
}

label {
    color: white;
}

.formcont {
    height: 750px;
    background-color: yellow;
}


footer {
    display: flex;
    justify-content: center;
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 220px;    height: 220px;
    align-items: center;
}